spring:
  application:
    name: "gateway"
  cloud:
    openfeign:
      client:
        config:
          default:
            connect-timeout: 5000
            read-timeout: 10000
            loggerLevel: full

server:
  port: 9090
